<?xml version="1.0" encoding="UTF-8"?>

<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<display-name>Archetype Created Web Application</display-name>

	<!-- 配置Spring IoC配置文件路径（在Servlet初始化之前根据这里的若干配置文件生成Spring IoC容器） -->
	<context-param><!-- 此处的context指的是web context -->
		<param-name>contextConfigLocation</param-name>
		<!-- 此处的context指的是Spring IoC容器 -->
		<!-- 可以将这里的配置文件作为配置应用组件的地方 -->
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<!-- 配置ServletContextListener用以根据配置文件生成Spring IoC容器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 配置Spring MVC的DispatcherServlet，它将初始化Spring MVC的各个组件 -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 也可以在这配置Spring IoC配置文件路径（在Servlet初始化之时初始化Spring IoC容器） -->
		<!-- 注意：如果不配置此初始化参数，Spring MVC框架会根据servlet-name（这里是dispatcher）， 默认找/WEB-INF/dispatcher-servlet.xml作为配置文件加载 -->
		<!-- 可以将此配置文件作为配置Spring MVC各组件的地方 -->
		<!-- <init-param> <param-name>contextConfigLocation</param-name> <param-value>classpath:springmvc.xml</param-value> 
			</init-param> -->
		<init-param>
			<param-name>spring.profiles.default</param-name>
			<param-value>dev</param-value>
		</init-param>
<!-- 		<init-param>
			<param-name>spring.profiles.active</param-name>
			<param-value>prod</param-value>
		</init-param> -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
